# Archivos/carpetas que no deben subirse al PR
*.yaml
*.yml
node_modules/
.aws-sam/
env.json
# Dependencias
node_modules/

# Build de SAM
.aws-sam/

# Variables de entorno locales
env.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/


