# Dependencias
node_modules/

# Build de SAM
.aws-sam/
build/
dist/

# Variables de entorno locales
env.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

coverage/
.env
.env.local
.env.*.local
